==
<div class="section-header">
    {% component 'editable' file='doelgroepen/plus_intro_title.htm' tag='h2' class='section-title text-center wow fadeInDown' extras='{}' %}
</div>
<div class="row">
    <div class="col-md-5 sidecol-title">
        {% component 'editable' file='doelgroepen/plus_title.htm' tag='h2' class='' extras='{}' %}
    </div>
    <div class="col-md-5">
        {% component 'editable' file='doelgroepen/plus_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 sidecol-title">
        {% component 'editable' file='doelgroepen/excl_title.htm' tag='h2' class='' extras='{}' %}
    </div>
    <div class="col-md-5">
        {% component 'editable' file='doelgroepen/excl_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>