[submodule "plugins/pvaass/azurefiledriver"]
	path = plugins/pvaass/azurefiledriver
	url = git@github.com:pvaass/octobercms-azurefiledriver.git
[submodule "plugins/pvaass/infinitemodelnesting"]
	path = plugins/pvaass/infinitemodelnesting
	url = git@github.com:pvaass/octobercms-infinitemodelnesting.git
[submodule "plugins/rainlab/sitemap"]
	path = plugins/rainlab/sitemap
	url = git@github.com:rainlab/sitemap-plugin.git
