[submodule "plugins/pvaass/azurefiledriver"]
	path = plugins/pvaass/azurefiledriver
	url = git@github.com:pvaass/octobercms-azurefiledriver.git
[submodule "plugins/pvaass/infinitemodelnesting"]
	path = plugins/pvaass/infinitemodelnesting
	url = git@github.com:pvaass/octobercms-infinitemodelnesting.git
