title = "Nieuwsitem"
url = "/articles/:slug"
layout = "article"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "author"
crumb_disabled = 0
robot_index = "index"
robot_follow = "follow"
==
{% if post %}
    {% component 'SeoBlogPost' data=post %}
    {% put hero %}
    {% if post.blogblock.header_image %}
        {% set header = post.blogblock.header_image.getPath()|app %}
    {% elseif post.blogblock.block_image_big %}
        {% set header = post.blogblock.block_image_big.getPath()|app %}
    {% endif %}

    <section id="cta2" style="padding: 0 0 30px 0; {% if header %}background: rgba(0,0,0,0.7) url({{ header }}) no-repeat 50% 50%;background-size: cover; background-blend-mode: overlay;{% endif %}">
        <div class="container">
            {%  component 'breadcrumbs' %}


            <h2 id="author" style="color: white;">{{ post.title }}</h2>
            <p style="font-style: italic; padding-left: 30px;">
                Door {{ post.user.first_name }} op {{ post.published_at|localizeddate("full", 'none', 'nl_NL') }}
            </p>

        </div>
    </section>
    {% endput %}

    <section id="content">
        <div class="container" style="overflow: hidden; padding-top: 10px; padding-bottom: 40px;">
            {{ post.content_html|raw }}
            <hr />
            {%  component 'breadcrumbs' %}
        </div>

    </section>
{% else %}
    <h2>Post not found</h2>
{% endif %}