title = "Inschrijven"
url = "/inschrijven/:success?"
layout = "single-page"
meta_title = "Inschrijven voor Zwemles, Waterpolo of MBVO"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
robot_index = "index"
robot_follow = "follow"
==
{% put hero %}
{% if this.param.success == 'success' %}
    {% partial "inschrijven/bedankt" %}
    <section id="content">
        <div class="container">
            <div class="text-center" style="padding:100px 0 150px 0">
                <a href="{{ '/'|app }}" class="btn btn-primary btn-lg" style="padding:50px">
                    Klik hier om terug te gaan naar de index
                </a>
            </div>
        </div>
    </section>
    <!-- Google Code for Inschrijving Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 870406625;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "zL-8CLKbnW0Q4bOFnwM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/870406625/?label=zL-8CLKbnW0Q4bOFnwM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% else %}
    <section id="cta2" style="padding-bottom: 70px;" >
        <div class="container">
            <div class="text-center">
                {% partial "inschrijven/inschrijven-cta" %}
            </div>
        </div>
    </section>
{% endif %}
{% endput %}

{% if this.param.success != 'success' %}
    <section id="content">
        <div class="container">
            {%  component 'inschrijfFormulier' %}
        </div>
    </section>
{% endif %}