description = "Nieuws"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "front-page"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "home"

[blogBlock]
==
<div class="container">
    <div class="section-header">
        {% component 'editable' file='main/nieuws/intro_title.htm' tag='h2' class="section-title text-center wow fadeInDown"%}
        {% component 'editable' file='main/nieuws/intro_sub.htm' tag='p' class='text-center wow fadeInDown' %}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                {% component 'blogBlock' size="large" offset=0 %}
            </div>

        </div><!--/.col-sm-6-->
        <div class="col-sm-6">
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                {% component 'blogBlock' size="small" offset=1 %}
            </div>
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
                {% component 'blogBlock' size="small" offset=2 %}
            </div>
        </div>
    </div>
    <div class="row" style="text-align: right">
        <a class="btn" href="{{ 'articles'|app }}">Meer nieuws...</a>
    </div>
</div>