==
<div id="google-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <div class="contact-form">
                    <h3>Contact Info</h3>

                    <address>
                        <strong>Secretariaat</strong><br>
                        Zeezwaluwstraat 31<br>
                        2583RG Den Haag<br>
                        <abbr title="Telefoonnumme">T:</abbr> 06-abcdefghij<br />
                    </address>

                     {% component 'contactForm' %}
                </div>
            </div>
        </div>
    </div>
</div>