==
{% component 'editable' file='main/schrijf-je-in/intro_title.htm' tag='h2' class='wow fadeInUp' extras='{
    "data-wow-duration": "300ms",
    "data-wow-delay": "0ms"
}' %}
{% component 'editable' file='main/schrijf-je-in/intro_sub.htm' tag='div' class='wow fadeInUp' extras='{
    "data-wow-duration": "300ms",
    "data-wow-delay": "100ms"
}' %}
<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"
   style="visibility: visible; animation-duration: 300ms; animation-delay: 200ms; animation-name: fadeInUp;">
    <a class="btn btn-primary btn-lg" href="{{ '/inschrijven'|app }}">
        Schrijf je in!
    </a>
     <a class="btn btn-primary btn-lg" href="{{ '/kosten'|app }}">
        Kosten
    </a>
</p>
<img class="img-responsive wow fadeIn" src="{{ 'assets/images/cta2/cta2-img.png'|theme }}" alt=""
     data-wow-duration="300ms" data-wow-delay="300ms">