==
<div class="container">
            <div class="section-header">
                {% component 'editable' file='main/onze-zwembaden/intro_title.htm' tag='h2' class='section-title text-center wow fadeInDown' extras='{}' %}
                {% component 'editable' file='main/onze-zwembaden/intro_sub.htm' tag='div' class='text-center wow fadeInDown' extras='{}' %}
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Alle Zwembaden</a></li>
                    <li><a href="#" data-filter=".creative">Den Haag</a></li>
                    <li><a href="#" data-filter=".corporate">Rijswijk</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/XBlinkerd3.jpg'|theme }}" alt="De Blinkerd Scheveningen">
                        <div class="portfolio-info">
                            <h3>De Blinkerd</h3>
                            Scheveningen
                            <a class="preview" href="{{ 'assets/images/portfolio/XBlinkerd3_gr.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/02.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/XZuiderpark poort2.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Het Zuiderpark</h3>
                            Moerwijk
                            <a class="preview" href="{{ 'assets/images/portfolio/XZuiderpark ingang_gr.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/04.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/05.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>De Waterthor</h3>
                            Bohemen
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/06.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/Escamphof.jpg'|theme }}" alt="Escamphof Den Haag">
                        <div class="portfolio-info">
                            <h3>De Escamphof</h3>
                            Rustenburg
                            <a class="preview" href="{{ 'assets/images/portfolio/Escamphof.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/08.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->