==
<div class="container">
            <div class="section-header">
                {% component 'editable' file='main/onze-zwembaden/intro_title.htm' tag='h2' class='section-title text-center wow fadeInDown' extras='{}' %}
                {% component 'editable' file='main/onze-zwembaden/intro_sub.htm' tag='div' class='text-center wow fadeInDown' extras='{}' %}
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Alle Zwembaden</a></li>
                    <li><a href="#" data-filter=".creative">Den Haag</a></li>
                    <li><a href="#" data-filter=".corporate">Rijswijk</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#blinkerd'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/XBlinkerd3.jpg'|theme }}" alt="De Blinkerd Scheveningen">
                            <div class="portfolio-info">
                                <h3>De Blinkerd</h3>
                                Scheveningen
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#houtzagerij'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/XHoutzagerij1.jpg'|theme }}" alt="De Houtzagerij">
                            <div class="portfolio-info">
                                <h3>De Houtzagerij</h3>
                                Schilderswijk
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#zuiderpark'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/XZuiderpark poort2.jpg'|theme }}" alt="Het Zuiderpark">
                            <div class="portfolio-info">
                                <h3>Het Zuiderpark</h3>
                                Moerwijk
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#steenvoorde'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/Steenvoorde Florence_kl.jpg'|theme }}" alt="Steenvoorde">
                            <div class="portfolio-info">
                                <h3>Steenvoorde</h3>
                                Terrein van Florence
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#waterthor'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/XWaterthor hoofdingang.jpg'|theme }}" alt="De Waterthor">
                            <div class="portfolio-info">
                                <h3>De Waterthor</h3>
                                Waldeck
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#schilp'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/XSchilp3_klein.jpg'|theme }}" alt="De Schilp">
                            <div class="portfolio-info">
                                <h3>De Schilp</h3>
                                Presidentenbuurt
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#escamphof'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/Escamphof.jpg'|theme }}" alt="De Escamphof">
                            <div class="portfolio-info">
                                <h3>Escamphof</h3>
                                Rustenburg
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <a href="{{ '/onze-zwembaden#hofbad'|app }}">
                            <img class="img-responsive" src="{{ 'assets/images/portfolio/Hofbad_kl.jpg'|theme }}" alt="Het Hofbad">
                            <div class="portfolio-info">
                                <h3>Het Hofbad</h3>
                                Ypenburg
                            </div>
                        </a>
                    </div>
                </div><!--/.portfolio-item-->

            </div>
        </div><!--/.container-->
