<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Kosten</h2>
        <p class="text-center wow fadeInDown">
            Zie op deze pagina de kosten per 1 januari 2017
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                €14
                            </span>
                            <span class="duration">
                                        per maand*
                            </span>
                        </div>

                        <div class="plan-name">
                            MBvO
                        </div>
                    </li>
                    <li>Meer Bewegen voor Ouderen</li>
                    <li>-</li>
                    <li>+ €10 Inschrijfkosten</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                                    <span class="price">
                                         €22
                                    </span>
                            <span class="duration">
                                        per maand*
                                    </span>
                        </div>

                        <div class="plan-name">
                            Zwemles
                        </div>
                    </li>
                    <li>Wekelijks leren zwemmen</li>
                    <li>-</li>
                    <li>+ €10 Inschrijfkosten</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                                €22
                            </span>
                            <span class="duration">
                                        per maand*
                                    </span>
                        </div>

                        <div class="plan-name">
                            Recreatief
                        </div>
                    </li>
                    <li>Wekelijks recreatief zwemmen</li>
                    <li>-</li>
                    <li>+ €10 Inschrijfkosten</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                                    <span class="price">
                                        v/a €25
                                    </span>
                            <span class="duration">
                                        per maand*
                                    </span>
                        </div>

                        <div class="plan-name">
                            Waterpolo
                        </div>
                    </li>
                    <li>Trainen + Wedstrijden</li>
                    <li>+ €46,40 Startvergunning</li>
                    <li>+ €20 Inschrijfkosten</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-header" style="padding-top:60px;">
    <h2 class="section-title text-center wow fadeInDown">
        <img src="http://i.imgur.com/WnYfeof.png" alt="Ooievaarspas" style="max-width: 100%; padding: 0 20px;"/>
    </h2>
    <p class="text-center wow fadeInDown">
        Heb je een Ooievaarspas? Bij CWP zijn er speciale tarieven voor Ooievaarspas-houders!
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-md-offset-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">100%</span>
                            <span class="duration">korting</span>
                        </div>
                        <div class="plan-name">
                            < 18 jaar
                        </div>
                    </li>
                    <li>Heb je een Ooievaarspas en ben je jonger dan 18? Voor jou is de contributie helemaal gratis!
                    </li>
                    <li>Dit geldt voor zwemles en waterpolo wanneer je geen andere sport doet</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                <ul class="pricing">
                    <li class="plan-header">
                        <div class="price-duration">
                            <span class="price">
                            50%
                            </span>
                            <span class="duration">
                            korting
                            </span>
                        </div>

                        <div class="plan-name">
                            > 18 jaar
                        </div>
                    </li>
                    <li>Heb je een Ooievaarspas en ben je ouder dan 18? Dan hoef je maar de helft te betalen!</li>
                    <li>Dit geldt voor zwemles en waterpolo wanneer je geen andere sport doet</li>
                    <li class="plan-purchase"><a class="btn btn-primary" href="#">Inschrijven</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
