==
<div class="owl-carousel">
    <div class="item"
         style="background-image: url({{ 'assets/images/slider/slide1_1920.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            {% component 'editable' file='main/slides/1.htm' %}
                            {#<p><a class="btn btn-primary btn-lg" href="#">Read More</a></p>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.item-->
    <div class="item" style="background-image: url({{ 'assets/images/slider/slide2_1920.jpg'|theme }});">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            {% component 'editable' file='main/slides/2.htm' %}
                            {#<a class="btn btn-primary btn-lg" href="#">Read More</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.item-->
</div><!--/.owl-carousel-->
