==
<div class="container">
    <div class="section-header">
        {% component 'editable' file='main/wat-doen-wij/intro_title.htm' tag='h2' class='section-title text-center wow fadeInDown animated' extras='{}' %}
        {% component 'editable' file='main/wat-doen-wij/intro_sub.htm' tag='div' class="text-center wow fadeInDown animated" extras='{}' %}
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <img class="img-responsive" src="{{ 'assets/images/zwembandjes.jpg'|theme }}" alt="">
        </div>
        <div class="col-sm-6">
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa cwp-swimming"></i>
                </div>
                <div class="media-body">
                    <a href="{{ '/zwemles'|app }}">
                        {% component 'editable' file='main/wat-doen-wij/1.htm' tag='div' class='' extras='{}' %}
                    </a>
                </div>
            </div>
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa cwp-baby"></i>
                </div>
                <div class="media-body">
                    {% component 'editable' file='main/wat-doen-wij/4.htm' tag='div' class='' extras='{}' %}
                </div>
            </div>
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa cwp-ball"></i>
                </div>
                <div class="media-body">
                    <a href="{{ '/waterpolo'|app }}">
                        {% component 'editable' file='main/wat-doen-wij/2.htm' tag='div' class='' extras='{}' %}
                    </a>
                </div>
            </div>
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa cwp-man"></i>
                </div>
                <div class="media-body">
                    <a href="{{ '/meer-bewegen-voor-ouderen'|app }}">
                        {% component 'editable' file='main/wat-doen-wij/3.htm' tag='div' class='' extras='{}' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>