==
<div class="container">
    <div class="section-header">
        {% component 'editable' file='main/wat-doen-wij/intro.htm' %}
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft"> 
            <img class="img-responsive" src="{{ 'assets/images/main-feature.png'|theme }}" alt="">
        </div>
        <div class="col-sm-6">
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="media-body">
                    {% component 'editable' file='main/wat-doen-wij/1.htm' %}
                </div>
            </div>
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="media-body">
                    {% component 'editable' file='main/wat-doen-wij/2.htm' %}
                </div>
            </div>
            
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-pie-chart"></i>
                </div>
                <div class="media-body">
                    {% component 'editable' file='main/wat-doen-wij/3.htm' %}
                </div>
            </div>
            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="media-body">
                   {% component 'editable' file='main/wat-doen-wij/4.htm' %}
                </div>
            </div>
        </div>
    </div>
</div>