description = "Intro van de inschrijfpagina"
==
<div class="row" id="blinkerd">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>De Blinkerd</h2>
        <p>
            Seinpoststraat 150,<br/>
            2586 HC Den Haag <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Zwembad+de+Blinkerd/@52.1062095,4.2807188,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b0a5b1882563:0x69426551e448dbca!8m2!3d52.1062095!4d4.2829075">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/XBlinkerd3.jpg'|theme }}" alt="Zwembad De Blinkerd Scheveningen">
        {% component 'editable' file='zwembaden/content/first_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="houtzagerij">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>De Houtzagerij</h2>
        <p>
            Hobbemastraat 93,<br />2526 JG Den Haag
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Sportcentrum+de+Houtzagerij/@52.069938,4.3019263,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b6d7c68c4601:0xbc254fe97b7b88fe!8m2!3d52.069938!4d4.304115">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/XHoutzagerij1.jpg'|theme }}" alt="De Houtzagerij">
        {% component 'editable' file='zwembaden/content/second_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="zuiderpark">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>Het Zuiderpark</h2>
        <p>
            Meester P. Drooglever Fortuynweg 59, <br />2533 SP Den Haag
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Zwembad+het+Zuiderpark/@52.0528322,4.2851475,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b134f8922ebd:0x6c44bb0c0651fcda!8m2!3d52.0528322!4d4.2873362">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/XZuiderpark poort2.jpg'|theme }}" alt="Het Zuiderpark">
        {% component 'editable' file='zwembaden/content/third_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="steenvoorde">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>Steenvoorde</h2>
        <p>
            Generaal Spoorlaan 62,<br />2285 CH Rijswijk
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Woonzorgcentrum+Steenvoorde/@52.0385876,4.2995386,16z/data=!4m8!1m2!2m1!1szwembad+steenvoorde+rijswijk!3m4!1s0x47c5b6bb3930f7fb:0xc8d0e603a682f708!8m2!3d52.0389996!4d4.3089851">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/Steenvoorde Florence_kl.jpg'|theme }}" alt="Steenvoorde">
        {% component 'editable' file='zwembaden/content/fourth_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="waterthor">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>De Waterthor</h2>
        <p>
            Thorbeckelaan 350,<br />2546 BZ Den Haag
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/De+Waterthor+Swimming+Pool/@52.0655621,4.2463675,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b1046b33250b:0xef39c2c32cb10a1d!8m2!3d52.0655621!4d4.2485562">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/XWaterthor hoofdingang.jpg'|theme }}" alt="De Waterthor">
        {% component 'editable' file='zwembaden/content/fifth_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="schilp">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>De Schilp</h2>
        <p>
           Schaapweg 4,<br/>
            2285 SP Rijswijk <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Optisport+Rijswijk+Sportcentrum+De+Schilp/@52.0381758,4.2966581,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b6afd91aa0ef:0xd098db7f6b76b208!8m2!3d52.0381758!4d4.2988468">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/XSchilp3_klein.jpg'|theme }}" alt="De Schilp">
        {% component 'editable' file='zwembaden/content/sixth_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="escamphof">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>Escamphof</h2>
        <p>
            Escamplaan 57,<br />2574 GA Den Haag
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Escamphof+Indoor+Swimming+Pool/@52.0649999,4.2747264,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b125c82c5a6f:0xe88d0104963fa3db!8m2!3d52.0649999!4d4.2769151">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/Escamphof.jpg'|theme }}" alt="De Escamphof">
        {% component 'editable' file='zwembaden/content/seventh_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>
<hr />
<div class="row" id="hofbad">
    <div class="col-md-3 col-md-offset-2 sidecol-title">
        <h2>Het Hofbad</h2>
        <p>
            Ypenburgse Boslaan 30,<br />2496 ZA Den Haag
            <br/><br/>
            <a target="_blank" href="https://www.google.nl/maps/place/Zwembad+het+Hofbad/@52.053082,4.3808283,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b624c74f4a85:0x7a0e445a60c039d3!8m2!3d52.053082!4d4.383017">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="font-size:0.9em">Google Maps</span>
            </a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive" src="{{ 'assets/images/portfolio/Hofbad_kl.jpg'|theme }}" alt="Het Hofbad">
        {% component 'editable' file='zwembaden/content/eighth_row_content.htm' tag='div' class='' extras='{}' %}
    </div>
</div>