<!-- Checkbox -->
<?php
    $fieldComment = $field->commentHtml ? trans($field->comment) : e(trans($field->comment));
?>

<div class="checkbox custom-checkbox" tabindex="0">


    <?php if ($field->comment && $field->commentPosition === 'above'): ?>
    <p class="help-block"><?= $field->comment ?></p>
    <?php endif ?>

    <input
        type="hidden"
        name="<?= $field->getName() ?>"
        value="0"
        <?= $this->previewMode ? 'disabled="disabled"' : '' ?>>
    <input
        type="checkbox"
        id="<?= $field->getId() ?>"
        name="<?= $field->getName() ?>"
        value="1"
        <?= $this->previewMode ? 'disabled="disabled"' : '' ?>
        <?= $field->value == 1 ? 'checked="checked"' : '' ?>
        <?= $field->getAttributes() ?>>

    <label for="<?= $field->getId() ?>">
        <?= e(trans($field->label)) ?>
    </label>
    <?php if ($field->comment && $field->commentPosition === 'below'): ?>
        <p class="help-block"><?= $field->comment ?></p>
    <?php endif ?>
</div>
