description = "Contactinfo voor leden"
==
<div id="google-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <div class="contact-form">
                    <h3>Contact</h3>
                    <address>
                        <strong>Secretariaat</strong><br>
                        Zeezwaluwstraat 31<br>
                        2583 RG  Den Haag<br>
                    </address>
                    <address>
                        <strong>Vertrouwenspersoon</strong><br>
                        Karin van Beekum<br>
                        <abbr title="Telefoonnummer">T:</abbr> 079 - 341 35 73
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>