<div class="container" style="overflow: hidden; padding-top: 10px; position:relative;">
    <div class="section-header">
        {% component 'editable'
            file='leden/zwemscore/intro_title.htm'
            class='section-title text-center wow fadeInDown'
            tag='h2'
            extras='{}'
        %}
        {% component 'editable'
            file='leden/zwemscore/intro_sub.htm'
            class='text-center wow fadeInDown'
            tag='p'
            extras='{}'
        %}
    </div>
    <form action="http://cwp.zwemscore.nl/ControleerInlog.asp" target="_blank" method="POST">
        <div class="form-group" style="overflow:hidden;">
            <div class="col-sm-offset-4 col-sm-4">
                <label class="control-label">Gebruikersnaam</label>
                <input class="form-control" type="text" name="txtToegangsNaam" />
            </div>
        </div>
        <div class="form-group" style="overflow:hidden;">
            <div class="col-sm-offset-4 col-sm-4">
                <label class="control-label">Wachtwoord</label>
                <input class="form-control" type="password" name="txtWachtwoord" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button style="width:100%;" class="btn btn-primary" type="submit">Inloggen</button>
            </div>
        </div>
    </form>
    <img
            class="img-responsive wow bounceInUp animated"
            src="{{ 'assets/images/leden/zwemscore-logo.jpg'|theme }}"
            data-wow-duration="1000ms" data-wow-delay="500ms"
            style="z-index: -1;position:absolute; right: 0px; bottom: -50px;"
    >
</div>