description = "Nieuws"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "oi"
active-class = "active"
disabled-class = "disabled"

[SeoBlogPost]
post = "blogPost"

[SeoCmsPage]

[blogPost]
slug = "{{ :slug }}"
categoryPage = "articles"
==
<!DOCTYPE html>
<html lang="nl">
<head>
    {% partial "meta" %}
    {% component 'SeoCmsPage' %}
</head>

<body id="articles" class="homepage">
<header id="header">
    {% partial "main/nav" %}
</header><!--/header-->

{% placeholder hero %}


<div class="container">
</div>
{% page %}

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>