description = "Hoofdpagina"

[editable]
file = "about/capabilities.htm"
tag = "div"
extras = "{}"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="nl">
<head>
    {% partial "meta" %}
    
    {% component 'SeoCmsPage' %}
</head>
<body id="home" class="homepage">
<header id="header">
    {% partial "main/nav" %}
</header><!--/header-->

<section id="main-slider">
    {% partial "main/slides" %}
</section><!--/#main-slider-->
    
<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {% component 'editable' file='main/start-tekst.htm' tag='div' class='' extras='{}' %}
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-primary btn-lg" href="{{ '/inschrijven'|app }}">Schrijf je in!</a>
            </div>
        </div>
    </div>
</section><!--/#cta-->

<section id="features">
    {% partial "main/wat-doen-wij" %}
</section><!--/#features-->

<!-- 
<section id="services" >
    {# {% partial "services" %} #}
</section>/#services -->

<section id="portfolio">
    {% partial "main/onze-zwembaden" %}
</section><!--/#portfolio-->


<section id="cta2">
    <div class="container">
        <div class="text-center">
            {% partial "main/cta2" %}
        </div>
    </div>
</section> 
<!--
<section id="about">
    {# {% partial "about" %} #}
</section><!--/#about-->

<!--
<section id="work-process">
    <div class="container">
        {# {% content 'process.htm' %} #}
    </div>
</section><!--/#work-process-->

<!--
<section id="meet-team">
   {# {% partial "team" %} #}
</section><!--/#meet-team-->
<!--
<section id="animated-number">
    {# {% content 'facts.htm' %} #}
</section><!--/#animated-number-->
<!--
<section id="testimonial">
  {#  {% partial "feedback" %} #}
</section><!--/#testimonial-->


<section id="blog">
    {% partial "main/blogs" %}
</section><!--/#blog-->

<section id="get-in-touch">
    <div class="container">
        <div class="section-header">
            {% component 'editable' file='main/precontact.htm' tag='div' class='' extras='{}'%}
        </div>

        <style>
            .info-item{
                width: 100%;
                min-height: 140px;
                border: 3px dotted rgba(255,255,255,0.6);
                border-radius: 10px;
                transition: all 0.2s ease-in-out;
                text-align: center;
                padding: 10px 20px;
            }
            .info-item:hover {
                background-color: rgba(255,255,255,0.1);
            }
            .info-item h3, .info-items a, .info-items a:hover, .info-items a:visited {
                color: #fff;
            }
        </style>
        <div class="row info-items">
            <div class="col-md-4">
                <a href="{{ 'wachtlijst'|app }}">
                    <div class="info-item">
                        <i class="fa fa-list-alt fa-5x"></i>
                        <h3>Wachtlijst</h3>
                        <p>
                            Check hier hoe lang het duurt <br />voor je kan gaan zwemmen
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ 'diploma-eisen'|app }}">
                    <div class="info-item">
                        <i class="fa cwp-swimming fa-5x" style="max-height:70px"></i>
                        <h3>Diplomazwemmen</h3>
                        <p>
                            Klik hier voor de eisen en meer <br /> voor het diplomazwemmen
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ 'veel-gestelde-vragen'|app }}">
                    <div class="info-item">
                        <i class="fa fa-question-circle fa-5x"></i>
                        <h3>Meer Vragen?</h3>
                        <p>
                            Vanaf hoe oud kan mijn kind op zwemles? Hoe lang is de wachtlijst? Je ziet het hier
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row info-items" style="margin-top:30px;">
             <div class="col-md-4">
                <a href="{{ 'leden#cta2'|app }}">
                    <div class="info-item">
                        <i class="fa fa-calendar fa-5x"></i>
                        <h3>Agenda</h3>
                        <p>
                            Kijkdagen, diplomazwemmen en andere activiteiten vind je hier
                        </p>
                    </div>
                </a>
            </div>
             <div class="col-md-4">
                <a href="{{ 'wanneer-is-er-zwemles'|app }}">
                    <div class="info-item">
                        <i class="fa fa-clock-o fa-5x"></i>
                        <h3>Zwemtijden</h3>
                        <p>
                            <br />
                            Zie hier op welke dagen en hoe laat CWP zwemt
                        </p>
                    </div>
                </a>
            </div>
             <div class="col-md-4">
                <a href="{{ 'leden#zwemscore'|app }}">
                    <div class="info-item">
                        <i class="fa fa-user fa-5x"></i>
                        <h3>Volgsysteem</h3>
                        <p>
                            Bekijk de voortgang van je kind via het Leerling Volgsysteem
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!--/#get-in-touch-->

<section id="contact">
    {% partial "main/contact" %}
</section><!--/#contact-->

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

{% partial 'scripts' %}

{% framework extras %}
{% scripts %}

</body>
</html>