[editable]
==
<!DOCTYPE html>
<html lang="nl">
<head>
    {% partial "meta" %}
    
    {% component 'SeoCmsPage' %}
</head>

<body id="home" class="homepage">

<header id="header">
    {% partial "leden/nav" %}
</header><!--/header-->

{#<section id="main-slider">#}
    {#{% partial "leden/slides" %}#}
{#</section><!--/#main-slider-->#}
    {##}
{#<section id="cta" class="wow fadeIn">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-sm-9">#}
                {#HALLO DIT IS VOOR LEDEN!#}
            {#</div>#}
            {#<div class="col-sm-3 text-right">#}
                {#<a class="btn btn-primary btn-lg" href="https://github.com/jtherczeg/multi-theme/archive/master.zip">Schrijf je in!</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section><!--/#cta-->#}

{#<section id="features">#}
    {#{% partial "leden/wat-doen-wij" %}#}
{#</section><!--/#features-->#}

<!-- 
<section id="services" >
    {# {% partial "services" %} #}
</section>/#services -->

{#<section id="portfolio">#}
    {#{% partial "leden/onze-zwembaden" %}#}
{#</section><!--/#portfolio-->#}


{#<section id="cta2">#}
    {#<div class="container">#}
        {#<div class="text-center">#}
            {#{% partial "leden/cta2" %}#}
        {#</div>#}
    {#</div>#}
{#</section> #}

<!--
<section id="work-process">
    <div class="container">
        {# {% content 'process.htm' %} #}
    </div>
</section><!--/#work-process-->

<!--
<section id="meet-team">
   {# {% partial "team" %} #}
</section><!--/#meet-team-->
<!--
<section id="animated-number">
    {# {% content 'facts.htm' %} #}
</section><!--/#animated-number-->

<!-- 
<section id="pricing">
    {# {% partial "pricing" %} #}
</section>/#pricing -->

<!--
<section id="testimonial">
  {#  {% partial "feedback" %} #}
</section><!--/#testimonial-->



<section id="cta2">
    <div class="container">
        <div class="text-center">
            {% partial "leden/agenda" %}
        </div>
    </div>
</section>

<section id="zwemscore">
    {% partial "leden/zwemscore" %}
</section>

{#<section id="get-in-touch">#}
    {#<div class="container">#}
        {#<div class="section-header">#}
            {#{% content 'leden/precontact.htm' %}#}
        {#</div>#}
    {#</div>#}
{#</section><!--/#get-in-touch-->#}

<section id="contact">
    {% partial "leden/contact" %}
</section><!--/#contact-->

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->


{% partial 'scripts' %}

{% framework extras %}
{% scripts %}

</body>
</html>