description = "Default layout"

[editable]
file = "about/capabilities.htm"

[inschrijfFormulier]

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "oi"
active-class = "active"
disabled-class = "disabled"
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}


<body id="home" class="homepage">
<header id="header">
    {% partial "main/nav" %}
</header><!--/header-->

{% if this.param.success == 'success' %}
    {% partial "main/inschrijven/bedankt" %}
    <section id="content">
        <div class="container">
            <div class="text-center" style="padding:100px 0 150px 0">
                <a href="{{ '/'|app }}" class="btn btn-primary btn-lg" style="padding:50px">
                    Klik hier om terug te gaan naar de index
                </a>
            </div>
        </div>
    </section>
{% else %}
    <section id="cta2" style="padding-bottom: 70px;" >
        <div class="container">
            <div class="text-center">
                {% partial "main/inschrijven-cta" %}
            </div>
        </div>
    </section>


    <section id="content">
        <div class="container">
            {%  component 'breadcrumbs' %}
            {%  component 'inschrijfFormulier' %}
        </div>
    </section>
{% endif %}

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>