<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBbon9lFStUkmS5F3hgWzr6-PdtxifFaDE"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/locale/nl.js"></script>
<script type="text/javascript" src="{{ 'assets/js/clndr.js'|theme }}"></script>

<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>

<script type="text/template" id="cal-small-tpl">
    <div style="float:left" class="cal-left col-sm-5 col-lg-4 col-lg-offset-1">
        <div class="controls">
            <div class="clndr-previous-year-button">&lsaquo;</div>
            <div class="month"><%=  this.options.extras.currentDate.format("Y") %></div>
            <div class="clndr-next-year-button">&rsaquo;</div>
        </div>

        <div class="days-container">
            <div class="days">

                <div class="headers" style="text-align:center">
                    <span>

                        <% console.log(this) %>
                        <%= this.options.extras.currentDate.format("MMMM") %>
                    </span>
                </div>
                <% _.each(days, function(day) { %>
                    <% if(day.date.format('M') !== window.currMonth) { %>
                        <div class="<%= day.classes %>
<%= day.date.format('M') === extras.currentDate.format('M') ? 'selected' : '' %>
<%= _.some(eventsThisInterval, function(event) { return event.date.format('Y-M') === day.date.format('Y-M'); }) ? 'event' : '' %>
" id="<%= day.id %>"><%= day.date.format('MMM') %></div>
                    <% }; %>
                    <% window.currMonth = day.date.format('M') %>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="col-sm-7 col-lg-6" style="border-left: 2px solid #ccc">
        <div class="event-listing">
            <div class="event-listing-title">Evenementen in <%=extras.currentDate.format("MMMM")%></div>
            <% _.each(eventsThisInterval, function(event) { %>
                <% if(event.date.format("M") === extras.currentDate.format("M")) { %>
                    <div class="event-item">
                        <div class="event-item-name"><%= event.date.format('DD MMM ') %><%= event.name %></div>
                        <div class="event-item-location"><%= event.location %></div>
                    </div>
                <% };%>
            <% }); %>

            <% if (_.every(eventsThisInterval, function(event) {
                return event.date.format("M") !== extras.currentDate.format("M")
            })){ %>
            <div class="event-item">
                Geen evenementen deze maand
            </div>
            <% }; %>
        </div>
    </div>

</script>

<script>
    console.log(moment());
    window.calendar = $('.agenda').clndr({
        template: $('#cal-small-tpl').html(),
        startWithMonth: moment().format('YYYY') + '-01-01',
        daysOfTheWeek: ['Z', 'M', 'D', 'W', 'D', 'V', 'Z'],
        numberOfRows: 5,
        events: [
            {
                name: "Diplomazwemmen A, B, C",
                location: "Zwembad de Waterthor",
                date: moment('2016-10-11')
            },
            {
                name: "CWP Weekend",
                location: "'t Loo",
                date: moment('2016-10-27')
            }
        ],
        lengthOfTime: {
            days: 365
        },
        extras: {
            currentDate: moment()
        },
        clickEvents: {
            click: function(target) {
                this.options.extras.currentDate = target.date;
                this.render();
            },
            nextInterval: function(target) {
                this.options.extras.currentDate = target;
                this.setYear(target.format('Y'));
                this.render();
            },
            previousInterval: function(target) {
                this.options.extras.currentDate = target;
                this.setYear(target.format('Y'));
                this.render();
            }
        }
    });
</script>