==
<div class="row">
    <div class="col-sm-6 col-md-3 col-md-offset-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price">100%</span>
                        <span class="duration">korting</span>
                    </div>
                    <div class="plan-name">
                        < 18 jaar
                    </div>
                </li>
                <li>Heb je een Ooievaarspas en ben je jonger dan 18? Dan wordt jouw contributie betaald door de gemeente Den Haag!
                </li>
                <li>Dit geldt voor zwemles en waterpolo wanneer je geen andere sport doet</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price">
                        50%
                        </span>
                        <span class="duration">
                        korting
                        </span>
                    </div>

                    <div class="plan-name">
                        > 18 jaar
                    </div>
                </li>
                <li>Heb je een Ooievaarspas en ben je ouder dan 18? Dan hoef je maar de helft te betalen!</li>
                <li>Dit geldt voor zwemles en waterpolo wanneer je geen andere sport doet</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
</div>