==
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price">€14,50</span>
                        <span class="duration">per maand*</span>
                    </div>
                    <div class="plan-name">MBvO</div>
                </li>
                <li>Meer Bewegen voor Ouderen</li>
                <li>-</li>
                <li>+ €10 Inschrijfkosten</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price">€22,50</span>
                        <span class="duration">per maand*</span>
                    </div>
                    <div class="plan-name">Zwemles</div>
                </li>
                <li>Wekelijks leren zwemmen</li>
                <li>-</li>
                <li>+ €10 Inschrijfkosten</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price">€22,50</span>
                        <span class="duration">per maand*</span>
                    </div>
                    <div class="plan-name">Recreatief</div>
                </li>
                <li>Wekelijks recreatief zwemmen</li>
                <li>-</li>
                <li>+ €10 Inschrijfkosten</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
            <ul class="pricing scroll">
                <li class="plan-header">
                    <div class="price-duration">
                        <span class="price"> v/a €26</span>
                        <span class="duration">per maand*</span>
                    </div>
                    <div class="plan-name">Waterpolo</div>
                </li>
                <li>Trainen + Wedstrijden</li>
                <li>+ €48 Startvergunning</li>
                <li>+ €20 Inschrijfkosten</li>
                <li class="plan-purchase"><a class="btn btn-primary" href="#schrijf-in">Inschrijven</a></li>
            </ul>
        </div>
    </div>
</div>