<ul class="pricing scroll">
    <li class="plan-header">

        <div class="price-duration">
            <span class="price">GRATIS</span>
            <span class="duration">proefles</span>
        </div>
        <div class="plan-name">
            Gratis proefles of minipolo!
        </div>
    </li>
    <li>Schrijf je in voor een eenmalige gratis proefles</li>
    <li>Of doe gratis mee met onze maandelijkse minipolo toernooien!</li>
    <li class="plan-purchase"><a class="btn btn-primary" href="/#contact">Contact</a></li>
</ul>